{% assign author = page.author | default: page.authors[0] | default: site.author %}

<div itemscope itemtype="http://schema.org/Person">
  <div class="author__avatar">
    <img src="{{ '/images/Wong.jpg' | absolute_url }}" class="author__avatar" alt="{{ author.name }}" itemprop="image">
  </div>

  <div class="author__content">
    <h3 class="author__name" itemprop="name">{{ author.name }}</h3>
    <p class="author__bio" itemprop="description">Associate Professor, SZU</p>
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Follow</button>
    <ul class="author__urls social-icons">
      <style>
        .social-icons i { width: 1.25em; text-align: center; margin-right: 5px; }
        .fa-graduation-cap { color: #4285F4 !important; } 
        .fa-orcid { color: #A6CE39 !important; }
        .fa-book-open { color: #9B59B6 !important; }
        .fa-envelope { color: #E74C3C !important; }
      </style>
      <li><a href="https://scholar.google.com/citations?hl=en&user=0EiOaHYAAAAJ"><i class="fas fa-fw fa-graduation-cap"></i> Google Scholar</a></li>
      <li><a href="https://orcid.org/0000-0002-6454-984X"><i class="fab fa-fw fa-orcid"></i> ORCID</a></li>
      <li><a href="https://mathscinet.ams.org/mathscinet/search/author.html?mranid=972012"><i class="fas fa-fw fa-book-open"></i> MathSciNet</a></li>
      <li><a href="mailto:takkwong@szu.edu.cn"><i class="fas fa-fw fa-envelope"></i> Email</a></li>
    </ul>
  </div>
</div>
